/* body {
    font-family: SourceSansPro;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: black;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #FAFAFA;
}

.logo img {
    height: 50px;
    max-width: 100%;
    object-fit: contain; 
}

.navbar a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a {
    color: black;
}

.dropdown-container {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-box {
    display: flex;
}

.dropdown-content {
    background-color: #fff;
    padding: 10px 25px;
    min-width: 160px;
    z-index: 1;
}

.contentTitle {
    margin: 0;
    padding: 10px 2px;
    font-size: small;
    font-weight: bold;
}

.dropdown-content a {
    color: black;
    font-size: smaller;
    margin: 0;
    padding: 2px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    text-decoration: underline;
}

.dropdown:hover .dropdown-container {
    display: block;
}

.cart-icon {
    position: relative;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #333;
}

.cart-icon svg {
    color: #333;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .cart-icon {
        font-size: 20px;
    }

    .cart-count {
        top: -8px;
        right: -8px;
        font-size: 10px;
    }
}
.wishlist-icon {
    position: relative;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #333;
    margin-right: 20px;
    margin-left: 10px;
}

.wishlist-icon svg {
    color: black;
    
}

.wishlist-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color:black;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .wishlist-icon {
        font-size: 20px;
    }

    .wishlist-count {
        top: -8px;
        right: -8px;
        font-size: 10px;
    }
}



.search-container {

    
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

.search-input {
    flex: 1;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
}

.search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}

.search-button i {
    font-size: 1.2rem;
}


.cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}



.navbar-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
    z-index: 1000;
    width: 100%;
    
    box-sizing: border-box;
}

.navbar-suggestions li {
    padding: 10px;
    cursor: pointer;
}

.navbar-suggestions li:hover {
    background-color: #f1f1f1;
} 
 */







 
 body {
     font-family: SourceSansPro;
 }

 .navbar {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: dimgray;
     color: white;
     padding: 10px;
     position: sticky;
     top: 0;
     z-index: 1000;
     width: 100%;
     /* background-color: #FAFAFA; */
 }

 .logo img {
     height: 50px;
     max-width: 100%;
     object-fit: contain;
 }

 .navbar a {
     text-decoration: none;
     padding: 10px 20px;
     display: block;
     color: white;
 }

 .dropdown {
     position: relative;
     display: inline-block;
 }

 .dropdown a {
     color: white;
 }

 .dropdown-container {
     display: none;
     position: absolute;
     background-color: dimgray;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
 }

 .dropdown-box {
     display: flex;
 }

 .dropdown-content {
     background-color: dimgray;
     padding: 10px 25px;
     min-width: 160px;
     z-index: 1;
 }

 .contentTitle {
     margin: 0;
     padding: 10px 2px;
     font-size: small;
     font-weight: bold;
 }

 .dropdown-content a {
     color: white;
     font-size: smaller;
     margin: 0;
     padding: 2px;
     display: block;
 }

 .dropdown-content a:hover {
     background-color: dimgray;
     text-decoration: underline;
 }

 .dropdown:hover .dropdown-container {
     display: block;
 }

 .cart-icon {
     position: relative;
     font-size: 24px;
     cursor: pointer;
     display: flex;
     align-items: center;
     color: whitesmoke;
 }

 .cart-icon svg {
     color: whitesmoke;
 }

 .cart-count {
     position: absolute;
     top: -10px;
     right: -10px;
     background-color: red;
     color: white;
     border-radius: 50%;
     padding: 4px 8px;
     font-size: 12px;
     font-weight: bold;
 }

 @media (max-width: 600px) {
     .cart-icon {
         font-size: 20px;
     }

     .cart-count {
         top: -8px;
         right: -8px;
         font-size: 10px;
     }
 }

 .wishlist-icon {
     position: relative;
     font-size: 24px;
     cursor: pointer;
     display: flex;
     align-items: center;
     color: whitesmoke;
     margin-right: 20px;
     margin-left: 10px;
 }

 .wishlist-icon svg {
     color: whitesmoke;
 }

 .wishlist-count {
     position: absolute;
     top: -10px;
     right: -10px;
     background-color: white;
     color: black;
     border-radius: 50%;
     padding: 4px 8px;
     font-size: 12px;
     font-weight: bold;
 }

 @media (max-width: 600px) {
     .wishlist-icon {
         font-size: 20px;
     }

     .wishlist-count {
         top: -8px;
         right: -8px;
         font-size: 10px;
     }
 }
/* 
 .search-container {
     position: relative;
     display: flex;
     justify-content: center;
     width: 100%;
     max-width: 400px;
     border: 1px solid #ccc;
     border-radius: 30px;
     overflow: hidden;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     margin: 0 10px;
     
 }

 .search-input {
     flex: 1;
     padding: 0.5rem 1rem;
     border: none;
     outline: none;
     font-size: 1rem;
 }

 .search-button {
     background-color: #007bff;
     color: #fff;
     border: none;
     padding: 0.5rem 1rem;
     cursor: pointer;
     font-size: 1rem;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: background-color 0.3s;
 }

 .search-button:hover {
     background-color: #0056b3;
 }

 .search-button i {
     font-size: 1.2rem;
 }

 .cart-badge {
     position: absolute;
     top: -5px;
     right: -5px;
     width: 10px;
     height: 10px;
     background-color: red;
     border-radius: 50%;
     display: inline-block;
 }

 
 .navbar-suggestions {
    
     margin-top: 100px;
     
     left: 0;
     background-color: white;
     color: black;
     border: 1px solid #ddd;
     border-radius: 4px;
     z-index: 1;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     width: 100%;
     
     box-sizing: border-box;
     max-height: 300px;
     
     overflow-y: auto;
     
     margin-top: 5px;
     
 }
.search-items{
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
 .navbar-suggestions li {
     padding: 10px;
     cursor: pointer;
     list-style: none;
     
 }

 .navbar-suggestions li:hover {
     background-color: #f1f1f1;
 } */



 .search-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 10px; 
     /* position: relative;
     overflow: hidden;*/
 }

 .search-input {
     flex: 1;
     padding: 0.5rem 1rem;
     border: none;
     outline: none;
     font-size: 1rem;
     border-radius: 30px;
 }

 .search-button {
     background-color: dimgray;
     color: black;
     border: none;
     padding: 0.5rem 1rem;
     cursor: pointer;
     font-size: 1rem;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
     align-items: center;
     justify-content: center;
     transition: background-color 0.3s;
 }

 .search-button:hover {
     background-color: #0056b3;
 }

 .search-button i {
     font-size: 1.2rem;
 }

 .cart-badge {
     position: absolute;
     top: -5px;
     right: -5px;
     width: 10px;
     height: 10px;
     background-color: red;
     border-radius: 50%;
     display: inline-block;
 }

 .search-items {
     position: absolute;
     top: 100%;
     left: 0;
     right: 0;
     background-color: black;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
     margin-top: 5px;
 }

 .navbar-suggestions {
     list-style: none;
     padding: 0;
     margin: 0;
     border: 1px solid #ddd;
     border-radius: 4px;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
     max-height: 300px;
     overflow-y: auto;
 }

 .navbar-suggestions li {
     padding: 10px;
     cursor: pointer;
     
 }

 .navbar-suggestions li:hover {
     background-color: black;
 }